[package]
name = "fight_game"
version = "0.1.0"
authors = ["Kaneyuki Hiromasa <matsugen2511@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lazy_static="*"
amethyst-sprite-studio={path = "../amethyst-sprite-studio/"}
amethyst-collision={path="../amethyst-collision/"}
amethyst = {git = "https://github.com/amethyst/amethyst.git", features = ["vulkan"] }
input-handle={path="../input-handle/"}
serde="*"
serde_json="*"
ncollide2d="*"
nalgebra="*"
log="*"
failure="*"
bitflags="*"
debug_system={path="../debug_system/", required-features=["debug"]}

[features]
default=[]
serialize=[]
debug=[]